input {
  display: flex;
  height: 20px;
  padding: 11px 12px;
  gap: 4px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid #cbd2e0;
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
}

select {
  padding: 8px 12px 8px 16px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}
label {
  color: rgba(0, 0, 0, 0.75);
  font-feature-settings: "calt" off;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: -0.14px;
}
.largeInput {
  width: 100%;
  height: auto;
}
.inputInfo {
  display: flex;
  width: 100%;
  height: 20%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
  margin: 5% 0%;
}
.inputInfo__center {
  width: 90%;
  margin: 5% auto;
}

.inputInfo--flat label {
  width: 10%;
}
.inputInfo--flat {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}
.inputInfo--flat > .label {
  width: 15%;
}
.inputInfo--flat > .labelLarge {
  width: 20%;
}
.inputInfo--flat > .inputLarge {
  width: 60%;
  height: 2rem;
  font-size: 1rem;
  padding: 1rem;
}
.inputInfo--flat > .select {
  width: 60%;
  height: 3rem;
  font-size: 1rem;
}

.inputInfo--flat > .inputLargeX {
  width: 80%;
  height: 2rem;
  font-size: 1rem;
  padding: 1rem;
}
.textarea {
  margin: auto;
  width: 60%;
  font-size: 20px;
}
.default {
  display: flex;
  padding: 5px;
  height: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  border-radius: 6px;
  border: none;
  outline: none;
}
.inputError {
  border: 1px solid #ea2a2a;
}
.inputError + .textError {
  margin: 0;
}
.textError {
  margin-bottom: 3%;
  color: #ea2a2a;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.14px;
}
.disabled {
  background-color: rgba(0, 0, 0, 0.4);
}
.search {
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding: 1%;
  flex-direction: row;
  display: flex;
}
.search > select {
  width: 30%;
  margin: 0;
}
.search > .inputGroup {
  width: 30%;
  display: flex;
  flex-direction: row;
}
.search input {
  width: 80%;
  height: 100%;
  border: 1px solid black;
}
.search button {
  width: 15%;
}
.search i {
  font-size: 20px;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
input:read-only {
  background-color: grey;
  cursor: not-allowed;
}
input:disabled {
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  font-weight: bold;
}
.radioInput {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  vertical-align: middle;
}
.radioInput > input[type="radio"] {
  cursor: default;
  width: 5%;
  height: 100%;
  margin: 0;
}
.mulRadioInput {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 5fr 5fr;
}
.row.row-small > input {
  width: 20%;
}
.bold {
  font-weight: bold;
  color: black;
}
select:disabled {
  background-color: grey;
  opacity: 1;
}
.small_10 {
  width: 10% !important;
}
