.dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    left: 85px;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #60df35;
  }
  /* Ở trên là menu dropdown*/
  .dropbtn-trai {
    position: relative;
    left: -10px;
    background-color: #000000;
    color: white;
    padding: 0px ;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-trai {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-trai {
    display: none;
    position: absolute;
    left: 85px;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content-trai a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-trai a:hover {background-color: #f1f1f1}
  
  .dropdown-trai:hover .dropdown-content-trai {
    display: block;
  }
  
  .dropdown-trai:hover .dropbtn-trai {
    background-color: #60df35;
  }
  .navbar-brand img{
    border-radius: 90px;
  }
  /*Form search*/
   input{
    position: relative;
    left: -195px;
    top: -3px;
    border-radius: 0px 10px 10px 0px;
    padding:8px 50px 8px 8px;
  }
.LocPhieu{
    position: relative;
    left: -390px;
    top: 40px;
}
.LocPhieu button{
    border-radius: 10px 0px 0px 10px;

}
.section{
    display: grid;
    grid-template-columns: 1fr 5fr; /* Chia thành hai cột bằng 1:1 */
    grid-gap: 1px; /* Khoảng cách giữa hai cột */
    height: 800px;
    text-align: left;
}
.trai{
    background-color: #030303;
    width: 100%;
    height: 100%;
    color: aliceblue;
    text-align: left;
}
.phai{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    text-align: left;
    float: right;
}
.vertical-menu {
    width: fit-content; /* Độ rộng của menu dọc */
}

.vertical-menu a {
    display: block;
    padding: 10px; /* Khoảng cách bên trong mỗi mục */
    text-decoration: none;
    color: #faf8f8; /* Màu chữ */
    border-bottom: 1px solid #ccc; /* Đường kẻ ngang */
}

.vertical-menu a:hover {
    background-color: #60df35; /* Màu nền khi hover */
}
.khung {
    display: table;
    width: 95%; /* Độ rộng của khung */
    height: 599px ; /* Chiều cao của khung */
    border: 1px solid #000; /* Viền của khung */
    padding: 10px; /* Khoảng cách bên trong khung */
    background-color: #ffffff; /* Màu nền của khung */
    margin-left: 30px;
    text-align: center;
}
.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 5px;
    border-bottom: 1px solid #ccc; /* Đường kẻ ngang */
}

.header {
    font-weight: bold;
}
.phanphoi{
    margin-top: 30px;
    margin-left: 76px;
}
table{
    border-collapse: collapse; /* Loại bỏ khoảng cách mặc định giữa các ô */
}
.bang {
    padding: 20px; /* Khoảng cách bên trong tiêu đề */
}
th, td {
    padding: 10px; /* Khoảng cách bên trong các ô */
}
tr{
    border-bottom: 1px solid #0f0505; /* Đường gạch dưới của dòng dữ liệu */
}
.xem {
    display: inline-block; /* Hiển thị nút như một khối inline */
    padding: 10px 20px; /* Kích thước nút */
    background-color: #0077CC; /* Màu nền */
    color: #fff; /* Màu chữ */
    text-decoration: none; /* Loại bỏ đường gạch chân của liên kết */
    border-radius: 5px; /* Góc bo tròn */
}
.xem:hover {
    background-color: #005599; /* Màu nền khi di chuột qua */
}
