* {
  padding: 0px;
  margin: 0px;
}

/*menu*/
.vertical-menu {
  position: relative;
}

.vertical-menu {
  width: 285px fit-content; /* Độ rộng của menu dọc */
}
.vertical-menu .menu .item {
  position: relative;
  cursor: pointer;
}

.vertical-menu .menu .item a {
  display: block;
  padding: 10px; /* Khoảng cách bên trong mỗi mục */
  text-decoration: none;
  color: #ffffff; /* Màu chữ */
  border-bottom: 1px solid #ccc; /* Đường kẻ ngang */
  font-size: 16px;
}

.vertical-menu a:link {
  color: #60df35; /* Màu nền khi hover */
}

.vertical-menu .menu .item a:hover {
  color: #60df35; /* Màu nền khi hover */
  transition: 0.3s ease;
}
.vertical-menu .menu .item a .dropdown {
  position: absolute;
  right: 0px;
  margin: 10px 3px 10px 20px;
  transition: 0.3s ease;
}

.vertical-menu .menu .item .sub-menu {
  display: none;
}
.vertical-menu .menu .item .sub-menu a {
  padding-left: 25px;
}

.rotate {
  transform: rotate(90deg);
}

.navbar-brand img {
  border-radius: 90px;
}
/*Form search*/
input#search {
  width: 60%;
  position: relative;
  left: 30px;
  padding: 6px 20px;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
/* Lọc sản phẩm*/
button.btn-lpxk {
  position: relative;
  right: 438px;
  top: 38px;
  height: 38px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 0px;
}

.LocPhieu button {
  border-radius: 10px 0px 0px 10px;
}
.section {
  display: grid;
  grid-template-columns: 1fr 5fr; /* Chia thành hai cột bằng 1:1 */
  grid-gap: 1px; /* Khoảng cách giữa hai cột */
  height: 800px;
  text-align: left;
}
.trai {
  background-color: #030303;
  width: 285px;
  height: 100%;
  color: aliceblue;
  text-align: left;
  float: left;
}
.phai {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  text-align: left;
  float: right;
  margin: 0px;
}

.khung {
  display: table;
  width: 99%; /* Độ rộng của khung */
  height: 100%; /* Chiều cao của khung */
  border: 1px solid #000; /* Viền của khung */
  padding: 10px; /* Khoảng cách bên trong khung */
  background-color: #ffffff; /* Màu nền của khung */
  margin-left: 5px;
  text-align: center;
}
.khung .table {
  justify-content: center;
}
.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Đường kẻ ngang */
}
.header {
  font-weight: bold;
}
.phanphoi {
  padding: 0px;
  margin: 0px;
}
.phanphoi h3 {
  font-size: 1.17em;
  padding: 10px;
}
table {
  border-collapse: collapse; /* Loại bỏ khoảng cách mặc định giữa các ô */
}
.bang {
  padding: 20px; /* Khoảng cách bên trong tiêu đề */
}
th,
td {
  padding: 10px; /* Khoảng cách bên trong các ô */
}
tr {
  border-bottom: 1px solid #0f0505; /* Đường gạch dưới của dòng dữ liệu */
}
.xem {
  display: inline-block; /* Hiển thị nút như một khối inline */
  padding: 10px 20px; /* Kích thước nút */
  background-color: #0077cc; /* Màu nền */
  color: #fff; /* Màu chữ */
  text-decoration: none; /* Loại bỏ đường gạch chân của liên kết */
  border-radius: 5px; /* Góc bo tròn */
}
.xem:hover {
  background-color: #005599; /* Màu nền khi di chuột qua */
}

.ThemNguyenVatLieu button a {
  color: #ffffff;
}

a:hover {
  text-decoration: none;
}
