<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Báo cáo</title>
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    <link rel="stylesheet" href="" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/lapdonyeucau.css" />
    <link rel="stylesheet" href="../css/lapBaoCao.css" />
  </head>
  <body>
    <div class="container"></div>
  </body>
  <script type="module" defer src="../js/lapBaoCao.js" defer></script>
</html>
