<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kiểm kê</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/overlay.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonYeuCau.css" />
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css" />
    <script defer src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
    <script defer type="module" src="../js/kiemKe.js"></script>
  </head>
  <body>
    <div class="container"></div>
    <div class="overlayDiv"></div>
  </body>
</html>

<!-- 
  //content 
  


 -->

<!-- content chiTiet





    -->

<!-- Chọn nguyên liệu

<

-->
