<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lập đơn yêu cầu xuất thành phẩm</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/lapdonyeucau.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonYeuCau.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonXuat.css" />
    <link rel="stylesheet" href="../css/thongBao.css" />

    <link
      rel="stylesheet"
      href="../css/fontawesome-free-6.2.0-web/css/all.css"
    />
    <script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>

    <script defer type="module" src="../js/lapdonyeucauxuatTP.js"></script>
  </head>
  <body>
    <div class="container"></div>
  </body>
</html>
