<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phân phối đơn yêu cầu nhập</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/overlay.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonYeuCau.css" />
    <link rel="stylesheet" href="../css/thongBao.css" />
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css" />
    <script defer src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
    <script defer type="module" src="../js/phanPhoiDonYeuCauNhap.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- <div class="menu">
        <div class="image"></div>
        <div class="nav">
          <ul>
            <li><a href="#">Trang chủ</a></li>
            <li class="show">
              <p>Lập đơn yêu cầu <i class="fa-solid fa-angle-down"></i></p>
              <ul class="hidden">
                <li><a href="lapdonyeucaunhapNL.html">Nhập nguyên liệu</a></li>
                <li><a href="lapdonyeucauxuatNL.html">Xuất nguyên liệu</a></li>
                <li><a href="lapdonyeucaunhapTP.html">Nhập thành phẩm</a></li>
                <li><a href="lapdonyeucauxuatTP.html">Nhập thành phẩm</a></li>
              </ul>
            </li>
            <li><a href="#">Lập biên bản</a></li>
            <li class="show">
              <p>Phân phối <i class="fa-solid fa-angle-down"></i></p>
              <ul class="hidden">
                <li><a href="#">Đơn yêu cầu nhập</a></li>
                <li><a href="#">Đơn yêu cầu xuất</a></li>
              </ul>
            </li>
            <li><a href="#">Nhập kho</a></li>
            <li><a href="#">Xuất kho</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <a href="#"> <h3>Phân phối > Đơn yêu cầu nhập</h3></a>
        <form class="search">
          <input type="text" name="search" id="search" />
          <button type="button">
            <i class="fa-solid fa-magnifying-glass" style="color: #1e5cc8"></i>
          </button>
        </form>
        <div class="content__inner chitiet">
          <h3>Đơn yêu cầu nhập nguyên liệu</h3>
          <p><span class="deMuc">Mã đơn:</span>1</p>
          <p><span class="deMuc">Tên đơn:</span>Đơn yêu cầu nhập nguyên liệu</p>
          <p><span class="deMuc">Người lập:</span>20113401</p>
          <p><span class="deMuc">Ngày lập:</span>24/09/2023</p>
          <p><span class="deMuc">Danh sách yêu cầu:</span></p>
          <table class="small">
            <tr>
              <th>Tên nguyên liệu</th>
              <th>Số lượng yêu cầu</th>
              <th>Đơn vị</th>
              <th>Ngày sản xuất</th>
              <th>Ngày hết hạn</th>
              <th>Kho</th>
            </tr>
            <tr>
              <td>Bột mì</td>
              <td>2</td>
              <td>KG</td>
              <td>
                <input type="date" class="NgaySanXuat" id="NgaySanXuat" />
              </td>
              <td><input type="date" class="NgayHetHan" id="NgayHetHan" /></td>
              <td>
                <select class="kho" name="kho" id="kho">
                  <option value="1">Kho nguyên liệu 1</option>
                  <option value="2">Kho nguyên liệu 3</option>
                  <option value="3">Kho nguyên liệu 2</option>
                  <option value="4">Kho nguyên liệu 4</option>
                </select>
              </td>
            </tr>
          </table>
          <div class="buttons">
            <button class="btn primary">Phân phối đơn yêu càu</button>
            <button class="btn secondary small">Quay lại</button>
          </div>
        </div>
      </div>-->
    </div>
    <div class="overlayDiv"></div>
  </body>
</html>
