<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhập kho</title>
    <link rel="stylesheet" href="../css/menu.css" />
    <link rel="stylesheet" href="../css/overlay.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css/button.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonYeuCau.css" />
    <link rel="stylesheet" href="../css/thongBao.css" />
    <link rel="stylesheet" href="../css/phanPhoiDonXuat.css" />
    <link rel="stylesheet" href="../fontawesome-free-6.2.0-web/css/all.css" />
    <script defer type="module" src="../js/xacNhanNhapKho.js"></script>
    <script src="../js/code.jquery.com_jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <!-- <div class="menu">
        <div class="image"></div>
        <div class="nav">
          <ul>
            <li><a href="#">Trang chủ</a></li>
            <li class="show">
              <p>Lập đơn yêu cầu <i class="fa-solid fa-angle-down"></i></p>
              <ul class="hidden">
                <li><a href="lapdonyeucaunhapNL.html">Nhập nguyên liệu</a></li>
                <li><a href="lapdonyeucauxuatNL.html">Xuất nguyên liệu</a></li>
                <li><a href="lapdonyeucaunhapTP.html">Nhập thành phẩm</a></li>
                <li><a href="lapdonyeucauxuatTP.html">Nhập thành phẩm</a></li>
              </ul>
            </li>
            <li><a href="#">Lập biên bản</a></li>
            <li class="show">
              <p>Phân phối <i class="fa-solid fa-angle-down"></i></p>
              <ul class="hidden">
                <li><a href="#">Đơn yêu cầu nhập</a></li>
                <li><a href="#">Đơn yêu cầu xuất</a></li>
              </ul>
            </li>
            <li><a href="#">Nhập kho</a></li>
            <li><a href="#">Xuất kho</a></li>
          </ul>
        </div>
      </div>
      <div class="content">
        <a href="#"> <h3>Phân phối > Đơn yêu cầu nhập</h3></a>
        <form class="search">
          <input type="text" name="search" id="search" />
          <button type="button">
            <i class="fa-solid fa-magnifying-glass" style="color: #1e5cc8"></i>
          </button>
        </form>
        <div class="content__inner">
          <table>
            <tr class="muc">
              <th>Mã phiếu</th>
              <th>Mã đơn</th>
              <th>Tên đơn</th>
              <th>Người lập</th>
              <th>Ngày lập</th>
              <th>Số lượng nguyên liệu</th>
              <th>Hành động</th>
            </tr>
            <tr>
              <td>1</td>
              <td>1</td>
              <td>Đơn yêu cầu xuất thành phẩm</td>
              <td>20113401</td>
              <td>25/09/2023</td>
              <td>3</td>
              <td>
                <button class="btn primary center large" id="${don.MaDon}">
                  Xem
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div> -->
    </div>

    <div class="overlayDiv"></div>
  </body>
</html>
